GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=your-gcp-project
GOOGLE_CLOUD_LOCATION=europe-west1
CLOUD_ML_REGION=europe-west1
MODEL=gemini-2.5-flash

# Enables standard OpenTelemetry traces and logs in Vertex AI
GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=true

# Enables capturing the actual text of prompts and responses
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true

# ADK Specifics
ADK_TRACE_ENABLED=true
ADK_CAPTURE_MESSAGE_CONTENT_IN_SPANS=true

# Standard OTEL (Helps the backend identify your service)
OTEL_SERVICE_NAME=example-agent
OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true

# Silence gRPC fork/logging spam locally
GRPC_VERBOSITY=ERROR
GRPC_ENABLE_FORK_SUPPORT=0
GLOG_minloglevel=2

# Add your API keys and configs here
# OAUTH_CLIENT_ID=
# OAUTH_CLIENT_SECRET=
BQ_WRITE_MODE=ALLOWED
CREDENTIALS_TYPE=application_default
